/* styles.css */

body {
    font-family: futura, sans-serif;
    background-color: hsl(60,100,96,0.2);
    text-transform: lowercase;
}

.profile_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.food_image{
    height: 400px;
    width: auto;
}

h1{
    text-align: center;
}

footer{
    text-align: center;
}

.recipes h3{
    text-align: center;
}